<%- include('../partials/header') %>

<div class="card mb-4">
    <div class="card-body">
        <h5>
            <%- cluck.username %>
        </h5>
        <p class="card-text">
            <%- cluck.content %>
        </p>
        <p class="card-text">
            <img src="<%- cluck.imageUrl %>"alt="image">
        </p>
    </div>
</div>

<div>



    <%- include('../partials/footer') %>